#canvas-background {
    width: 855px;
    height: 566px;
    align-self: center;
    top: 167%;
    background-image: url("../images/background.png");
    background-size: cover;
    position: absolute;
    z-index: 0;
}

#canvas-frame {
    position: absolute;
    align-self: center; 
    top: 575%;
    z-index: 10;
}

.game-stats {
    position: absolute;
    /* align-self: center;  */
    top: 575%;
    z-index: 11;
    font-size: 40px;
    color: white;
    font-family: 'MedievalSharp', ;
    text-shadow: -1px -1px 0 #292828, 1px -1px 0 #292828, -1px 1px 0 #292828, 1px 1px 0 #292828;  
}

.score {
    position: absolute;
    right: 8%;
}

.health {
    position: absolute;
    right: 14%;
}

.frame {
    position: absolute;
    margin: 0 auto;
    align-self: center;
    top: 102%;
    width: 1035px; 
    height: 748px;
}

.instructions {
    margin: 0 auto;
    position: absolute; 
    top: 220%;
    align-self: center;
    text-align: center;
    width: 70%;
    max-width: 700px;
    z-index: 1; 
    color: white;
    display: none;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 65px; 
    text-shadow: -3px -3px 0 #292828, 3px -3px 0 #292828, -3px 3px 0 #292828, 3px 3px 0 #292828;  
}

.smaller {
    font-size: 25px;
}

.description {
    padding-top: 20px;
    font-size: 35px;
}

.visible {
    display: block;
}

.fade {
    background-color: rgba(0, 0, 0, .9)
}

