#canvas-background {
    width: 850px;
    align-self: center;
    top: 135%;
    background-image: url("../images/background.png");
    background-size: cover;
    padding-right: 5px;
    padding-top: 8px;
    position: absolute;
    z-index: 0;
}

#canvas-frame {
    position: absolute;
    align-self: center; 
    top: 535%;
    z-index: 10;
    font-family: 'Megrim', cursive;
    font-size: 35px; 
    color: white; 
}

.frame {
    position: absolute;
    margin: 0 auto;
    align-self: center;
    top: 64%;
    width: 1150px; 
    height: auto;
}

.instructions {
    margin: 0 auto;
    position: absolute; 
    top: 200%;
    align-self: center;
    text-align: center;
    width: 70%;
    max-width: 700px;
    z-index: 1; 
    color: white;
    display: none;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 65px; 
    text-shadow: -3px -3px 0 #292828, 3px -3px 0 #292828, -3px 3px 0 #292828, 3px 3px 0 #292828;  
}

.smaller {
    font-size: 25px;
}

.description {
    padding-top: 20px;
    font-size: 35px;
}

.visible {
    display: block;
}

.fade {
    background-color: rgba(0, 0, 0, .9)
}

