html {
  min-height: 100%;
}

body {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#c2c2f5, #eaeaf0);
  height: 100%;
  background-repeat: none;
  overflow: hidden;
  position: relative;
}

h1 {
  margin: 0 auto; 
  font-family: 'MedievalSharp', ;
  font-size: 50px; 
  color: goldenrod;
  margin-bottom: 15px;
  margin-top: 25px;
  letter-spacing: 15px;
  padding: 20px;
  text-shadow: -1px -1px 0 #292828, 1px -1px 0 #292828, -1px 1px 0 #292828, 1px 1px 0 #292828;  
}