.canvas-wrap {
  position: relative;
}

#canvas-background {
    width: 855px;
    height: 566px;
    align-self: center;
    background-image: url("../images/background.png");
    background-size: cover;
    z-index: 0;
}

.welcome {
    margin: 0 auto;
    font-family: 'MedievalSharp', cursive;
    position: absolute; 
    align-self: center;
    text-align: center;
    z-index: 1; 
    color: white;
    display: none;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 30px; 
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    height: 100%;
    width: 100%; 
    z-index: 0;
}

.welcome h1 {
  font-size: 70px; 
  margin-bottom: 0;
}

.welcome h3 {
  margin-top: 0;
}

.description {
  max-width: 70%;
  margin: 0 auto;
}

.visible {
    display: block;
}


#canvas-frame {
    position: absolute;
    align-self: center; 
    bottom: 25px;
    z-index: 20;
}

.score-bar {
  display: flex; 
  flex-direction: row; 
  font-family: 'MedievalSharp', cursive;
  font-size: 35px; 
  color: white;
  width: 100%; 
  position: absolute; 
  margin: 0 auto;
  bottom: 30px;
}

#score {
  padding-left: 100px;
}

#health {
  padding-left: 50px;
}

#high-score {
  padding-left: 340px;
}

body {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#bbd9f5, #f5f6f7);
  background-repeat: none;
  position: relative;
}

.frame {
    position: absolute;
    margin: 0 auto;
    align-self: center;
    width: 1035px; 
    height: 742px;
}

.fade {
    background-color: rgba(0, 0, 0, .9)
}

.main {
    display: grid; 
    grid-template-columns: 1fr 1055px 1fr;
    padding-top: 80px;
}

.game {
    grid-column-start: 2; 
    grid-column-end: 2;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
}

.characters-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  z-index: 20;
}

.characters-2 {
  grid-column-start: 3;
  grid-column-end: 3;
  display: flex; 
  flex-direction: column; 
  align-items: left;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  z-index: 20;
}

.mercury, .graces, .venus, .flora, .chloris, .zephyrus {
    display: flex;
    align-items: flex-end;
}

.flip-card {
  background-color: transparent; 
  height: 225px; 
  width: 158px; 
  perspective: 1000px;
  margin: 15px 0px;
}

.flip-card-inner {
  position: relative; 
  width: auto; 
  height: 225px; 
  text-align: center; 
  transition: transform 0.8s; 
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: auto;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}


.links {
  padding-top: 30px;
  align-self: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.a {
  text-decoration: none; 
  color: #292828;
  padding: 0px 10px 0px 10px;
  text-align: justify;
}

.personal-links {
  align-self: center;
  align-items: center;
  margin: 0 auto;
}

.bott-links a, .personal-links a {
  align-self: center;
  margin: 0 10px 20px 10px;
  text-decoration: none; 
  color: #292828;
  text-align: justify; 
}

