html {
  min-height: 100%;
  overflow: scroll;
}

body {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#bbd9f5, #f5f6f7);
  background-repeat: none;
  position: relative;
  margin-bottom: 900px;
}

h1 {
  margin: 0 auto; 
  font-family: 'MedievalSharp', ;
  font-size: 50px; 
  color: goldenrod;
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 15px;
  padding-top: 20px;
  text-shadow: -1px -1px 0 #292828, 1px -1px 0 #292828, -1px 1px 0 #292828, 1px 1px 0 #292828;  
}

h3 {
  margin: 0 auto; 
  font-family: 'MedievalSharp', ;
  font-size: 25px; 
  color: goldenrod;
  margin-bottom: 15px;
  letter-spacing: 15px;
  padding: 0;
  text-shadow: -1px -1px 0 #292828, 1px -1px 0 #292828, -1px 1px 0 #292828, 1px 1px 0 #292828;  
}

.links {
  top: 630%;
  position: absolute;
  align-self: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.a {
  text-decoration: none; 
  color: #292828;
  padding: 0px 10px 0px 10px;
  text-align: justify;
}

.personal-links {
  align-self: center;
  align-items: center;
  margin: 0 auto;

}

.bott-links a, .personal-links a {
  align-self: center;
  margin: 0 10px 20px 10px;
  text-decoration: none; 
  color: #292828;
  text-align: justify; 
}